Source: ros-rolling-data-tamer-tools
Section: misc
Priority: optional
Maintainer: Jordan Lack <jlack1987@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libprotobuf-dev, libprotoc-dev, nlohmann-json3-dev, protobuf-compiler, ros-rolling-ament-cmake, ros-rolling-ament-cmake-clang-format <!nocheck>, ros-rolling-ament-cmake-cppcheck <!nocheck>, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-cmake-lint-cmake <!nocheck>, ros-rolling-ament-index-cpp <!nocheck>, ros-rolling-ament-lint <!nocheck>, ros-rolling-backward-ros, ros-rolling-data-tamer-cpp, ros-rolling-data-tamer-msgs, ros-rolling-foxglove-sdk-vendor, ros-rolling-geographic-msgs, ros-rolling-mcap-vendor, ros-rolling-rcl-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rclcpp-lifecycle, ros-rolling-rosidl-default-generators, ros-rolling-sensor-msgs, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-data-tamer-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libprotobuf-dev, libprotoc-dev, nlohmann-json3-dev, protobuf-compiler, ros-rolling-backward-ros, ros-rolling-data-tamer-cpp, ros-rolling-data-tamer-msgs, ros-rolling-foxglove-sdk-vendor, ros-rolling-geographic-msgs, ros-rolling-mcap-vendor, ros-rolling-rcl-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rclcpp-lifecycle, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: Set of tools for using Foxglove with data tamer
